.topnav {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.customerNumber{
    padding: 10px;
    
}

.refreshButton{
    background-color: aqua;
}

.title{
    direction: rtl;
    text-align: right;
    font-size: 24px;
    font-family: Arial, sans-serif;
    order:2 ;
}


.btn-group{
 
  background-color: rgb(56, 106, 222);
  float: left;
  margin: 1px;
  width: 20% ;
  height: 20%;
  border-radius: 12px;

}
.BuyNow{
  background-color: aqua;
  float: right;
  margin-right: 20px;
  margin-bottom: 50px;
  width: 20% ;
  height: 20%;
  border-radius: 20px;
}
